<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <py:def function="page_title">${_('Publishers')}</py:def>
  <py:def function="page_heading">${_('Publishers')}</py:def>
  <py:def function="body_class">no-sidebar</py:def>

  <div py:match="content">
    <!-- ${group_list_from_dict(c.page.items)} -->

    <a py:for="group in c.page.items" href="${h.url_for(controller='group', action='read', id=group.name)}" class="item_link">
      <i class="publisher"></i>
      <p>${group.title or group.name}</p>
      <p class="additional">${group.description}</p>
      <p class="additional">(${group.packages} datasets)</p>
    </a>

    ${c.page.pager()}
  </div>

  <xi:include href="layout.html" />
</html>
