<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <xi:include href="../odp_facets.html" />

  <?python
    sort = request.params.get('sort') or 'score desc'
    locale = str(h.current_locale())
    sorting = [
      ["score desc", _("Relevance"), ( sort == "score desc") ],
      ["views_total desc", _("Views"), ( sort == "views_total desc") ],
      ["title_string_"+locale+" asc", _("Title ascending"), ( sort == "title_string_"+locale+" asc") ],
      ["title_string_"+locale+" desc", _("Title descending"), ( sort == "title_string_"+locale+" desc") ],
      ["modified_date desc", _("Date updated"), ( sort == "modified_date desc") ],
    ]
  ?>

  <py:def function="body_class">search-results <py:if test="not c.q">empty-search</py:if></py:def>
  <py:def function="page_title">${c.group_dict.display_name}</py:def>

  <py:def function="page_heading">
    Search: <span class="search-term">${c.q}</span>
  </py:def>
  <py:if test="c.group.image_url">
    <py:def function="page_logo">${c.group.image_url}</py:def>
  </py:if>

  <py:def function="sortby_dropdown">
    <select name="sort">
      <py:for each="value, label, is_selected in sorting">
        <py:choose test="is_selected">
          <py:when test="True">
            <option value="${value}" selected="selected">${label}</option>
          </py:when>
          <py:otherwise>
            <option value="${value}">${label}</option>
          </py:otherwise>
        </py:choose>
      </py:for>
    </select>
  </py:def>

  <py:def function="breadcrumbs_extra">
    <span class="seperator">&gt;</span>
    <a href="${h.url_for(controller='group', action='index')}">${_('Publisher')}</a>
    <span class="seperator">&gt;</span>
    <a href="${h.url_for(controller='group', action='read', id=c.group_dict.name)}">${h.truncate(c.group_dict.display_name, length=35)}</a>
  </py:def>

  <py:def function="search_value"><py:if test="c.q">${c.q}</py:if></py:def>

  <div py:match="//div[@id='page-search']" class="page-search">
    <h1 class="content_heading">${c.group_dict.display_name}</h1>
    <div py:if="str(c.description_formatted).strip()">
      ${c.description_formatted}
    </div>
    <form>
      <input type="text" name="q" value="${search_value()}" placeholder="${_('Search for datasets within ') + c.group_dict.display_name}" />
      <input type="submit" value="" />
      <p style="padding-left: 10px; margin-top: 5px;">
        ${h.snippet('snippets/boolean_search_choice.html')}
      </p>
      <input type="hidden" name="sort" value="${sort}" />
    </form>
  </div>

  <py:match path="primarysidebar">
    ${h.snippet('snippets/suggest_box.html')}
    ${facet_div('tags', _('Keywords'))}
    ${facet_div('res_format', _('Resource Formats'))}
  </py:match>

  <py:match path="content">
    <h3 py:if="c.group['state'] != 'active'">${_('State')}: ${c.group['state']}</h3>
    <div class="filter-box">
      ${field_list()}

      <div class="filter-total">
        <h4 i18n:msg="item_count"><strong>${c.page.item_count}</strong> datasets found</h4>
        <a href="${h.url(controller='feed', action='custom')}?${c.search_url_params}"><i class="rss"></i></a>
      </div>

      <div class="filter-sort">
        ${_('Sort by:')}
        ${sortby_dropdown()}
      </div>

    </div>
    <div class="group-dataset-list">
      ${package_list_from_dict(c.page.items)}
      ${c.page.pager()}
    </div>
  </py:match>

  <py:def function="optional_feed">
  <link rel="alternate" type="application/atom+xml" title="${g.site_title} - Datasets in group '${c.group['title']}'"
    href="${h.url(controller='feed', action='group', id=c.group['name'])}" />
  <link rel="alternate" type="application/atom+xml" title="${g.site_title} - Recent Revision History"
    href="${h.url_for(controller='revision', action='list', format='atom', days=1)}" />
  </py:def>

  <xi:include href="layout.html" />
</html>
