<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <xi:include href="../facets.html" />

  <py:def function="page_title">${c.group_dict.display_name}</py:def>
  <py:def function="page_heading">
    <div class="pull-right">
      <small>(${c.page.item_count} datasets)</small>
      <a href=""><i class="rss"></i></a>
    </div>
    ${c.group_dict.display_name}
  </py:def>
  <py:if test="c.group.image_url">
    <py:def function="page_logo">${c.group.image_url}</py:def>
  </py:if>

  <py:def function="breadcrumbs_extra">
    <span class="seperator">&gt;</span>
    <a href="${h.url_for(controller='group', action='index')}">Publisher</a>
    <span class="seperator">&gt;</span>
    <a href="${h.url_for(controller='group', action='read', id=c.group_dict.name)}">${c.group_dict.display_name}</a>
  </py:def>

  <py:def function="search_value"><py:if test="c.q">${c.q}</py:if></py:def>

  <div py:match="//div[@id='page-search']" class="page-search">
    <form>
      <input type="text" name="q" value="${search_value()}" placeholder="${_('Search publisher...')}" />
      <input type="submit" />
    </form>
  </div>

  <?python
    from pylons import config
    from ckan import model

    if config.get('ckan.auth.profile', '') == 'publisher':
        group_administrators = [u for u in c.group.members_of_type(model.User, 'admin')]
        group_editors = [u for u in c.group.members_of_type(model.User, 'editor')]
        in_group = c.userobj and c.group in c.userobj.get_groups()
    else:
        group_administrators = c.group_admins
        group_editors = None
        in_group = False
  ?>

  <py:match path="primarysidebar">
    <li py:if="group_administrators or (group_editors and in_group)"
        class="widget-container widget_text">
      <ul class="property-list">
        <li py:if="group_administrators">
          <h3>Administrators</h3>
          <ul class="no-break">
            <li py:for="admin in group_administrators">${h.linked_user(admin)}</li>
          </ul>
        </li>
        <li py:if="group_editors and in_group">
          <h3>Members</h3>
          <ul class="no-break">
            <li py:for="editor in group_editors">${h.linked_user(editor)}</li>
          </ul>
        </li>
      </ul>
    </li>
    ${facet_div('tags', 'Keywords')}
    ${facet_div('res_format', 'Resource Formats')}
  </py:match>

  <py:match path="content">
    <h3 py:if="c.group['state'] != 'active'">State: ${c.group['state']}</h3>
    <div py:if="str(c.description_formatted).strip()">
      ${c.description_formatted}
    </div>
    <div class="group-dataset-list">
      ${field_list()}
      ${c.page.pager()}
      ${package_list_from_dict(c.page.items)}
      ${c.page.pager()}
    </div>
  </py:match>

  <py:def function="optional_feed">
  <link rel="alternate" type="application/atom+xml" title="${g.site_title} - Datasets in group '${c.group['title']}'"
    href="${h.url(controller='feed', action='group', id=c.group['name'])}" />
  <link rel="alternate" type="application/atom+xml" title="${g.site_title} - Recent Revision History"
    href="${h.url_for(controller='revision', action='list', format='atom', days=1)}" />
  </py:def>

  <xi:include href="layout.html" />
</html>
