<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <xi:include href="../odp_facets.html" />

  <py:def function="page_title">${c.group_dict.display_name}</py:def>
  <py:def function="page_heading">
    <div class="pull-right">
      <small>(${c.page.item_count} ${_('datasets')})</small>
      <a href="${h.url_for(controller='feed', action='group', id=c.group_dict.name)}?${c.search_url_params}"><i class="rss"></i></a>
    </div>
    ${c.group_dict.display_name}
  </py:def>
  <py:if test="c.group.image_url">
    <py:def function="page_logo">${c.group.image_url}</py:def>
  </py:if>

  <py:def function="breadcrumbs_extra">
    <span class="seperator">&gt;</span>
    <a href="${h.url_for(controller='group', action='index')}">${_('Publisher')}</a>
    <span class="seperator">&gt;</span>
    <a href="${h.url_for(controller='group', action='read', id=c.group_dict.name)}">${h.truncate(c.group_dict.display_name, length=35)}</a>
  </py:def>

  <py:def function="search_value"><py:if test="c.q">${c.q}</py:if></py:def>

  <div py:match="//div[@id='page-search']" class="page-search">
    <form>
      <input type="text" name="q" value="${search_value()}" placeholder="${_('Search publisher...')}" />
      <input type="submit" value="" />
      <p style="padding-left: 10px; margin-top: 5px;">
        ${h.snippet('snippets/boolean_search_choice.html')}
      </p>
    </form>
  </div>

  <py:match path="primarysidebar">
    ${h.snippet('snippets/suggest_box.html')}
    ${facet_div('tags', _('Keywords'))}
    ${facet_div('res_format', _('Resource Formats'))}
  </py:match>

  <py:match path="content">
    <h3 py:if="c.group['state'] != 'active'">${_('State')}: ${c.group['state']}</h3>
    <div py:if="str(c.description_formatted).strip()">
      ${c.description_formatted}
    </div>
    <div class="group-dataset-list">
      ${field_list()}
      ${package_list_from_dict(c.page.items)}
      ${c.page.pager()}
    </div>
  </py:match>

  <py:def function="optional_feed">
  <link rel="alternate" type="application/atom+xml" title="${g.site_title} - Datasets in group '${c.group['title']}'"
    href="${h.url(controller='feed', action='group', id=c.group['name'])}" />
  <link rel="alternate" type="application/atom+xml" title="${g.site_title} - Recent Revision History"
    href="${h.url_for(controller='revision', action='list', format='atom', days=1)}" />
  </py:def>

  <xi:include href="layout.html" />
</html>
