<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<!--[if IE 7 ]><html lang="en" class="no-js ie7"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      > <!--<![endif]-->
<xi:include href="_util.html" />
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>${page_title()} | ${g.site_title}</title>
  <meta name="description" content="" />
  <meta name="author" content="" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="${h.url_for_static(g.favicon)}" />

  <py:choose>
  <py:when test="defined('optional_feed')">
    ${optional_feed()}
  </py:when>
  <py:otherwise>
  <link rel="alternate" type="application/atom+xml" title="${g.site_title} - Recent Revision History" href="${h.url_for(controller='revision', action='list', format='atom', days=1)}" />
  </py:otherwise>
  </py:choose>

  <link rel="stylesheet" href="${h.url_for_static('/scripts/vendor/jqueryui/1.8.14/css/jquery-ui.custom.css')}" type="text/css" media="screen, print" />
  <link rel="stylesheet" href="${h.url_for_static('/css/bootstrap.min.css')}" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="${h.url_for_static('/css/chosen.css')}" type="text/css" />
  <!-- <link rel="stylesheet" href="${h.url_for_static('/css/style.css?v=2')}" /> -->
  ${jsConditionalForIe(9, '&lt;script type="text/javascript" src="' + h.url_for_static('/scripts/vendor/html5shiv/html5.js') + '"&gt;&lt;/script&gt;')}
  <link rel="stylesheet" href="${h.url_for_static('/css/ecportal.css')}" />

  <py:if test="defined('optional_head')">
    ${optional_head()}
  </py:if>

  ${h.literal(getattr(g, 'template_head_end', ''))}
</head>

<body class="${request.environ.get('pylons.routes_dict', {}).get('action')}
             ${request.environ.get('pylons.routes_dict', {}).get('controller').split(':')[-1]}
             ${defined('body_class') and body_class()}">

<div class="container">

  <a name="top" />

  <div class="header">
    <div id="header-menu" class="region region-header-menu">
      <ul class="menu">
        <li class="first leaf"><a href="http://ec.europa.eu/geninfo/legal_notices_en.htm">${_('Legal notice')}</a></li>
        <li class="leaf"><a href="/contact">${_('Contact')}</a></li>
        <li class="last leaf"><a href="http://ec.europa.eu/geninfo/query/search_en.html">${_('Search')}</a></li>
      </ul>
      <div id="language-selector">
        <a href="#" class="root">
          <span>${h.current_locale().display_name or h.current_locale().english_name} (${h.current_locale()})</span>
          <img border="0" alt="Menu Arrow" src="${h.url_for_static('/images/arrow_down.gif')}" />
        </a>
        <ul class="unstyled">
          <py:for each="locale in h.get_available_locales()">
            <li py:if="str(locale) != str(h.current_locale())">
              <a href="${h.url(h.current_url(), locale=str(locale))}">
                ${locale.display_name or locale.english_name} (${locale})
              </a>
            </li>
          </py:for>
        </ul>
      </div>
    </div>
    <div class="logo">
      <a id="logo-root" rel="europa.eu" title="europa.eu" href="http://europa.eu/index_${h.current_locale()}.htm">
        <img src="${h.url_for_static('/images/logo/logo.gif')}" alt="europa.eu" />
      </a>
      <a id="logo" rel="Home" title="Home" href="${h.root_url()}">
        <img src="${h.url_for_static('/images/logo/logo_{0}.gif').format(h.current_locale())}" alt="${_(g.site_title)}" title="${_(g.site_title)}" />
      </a>
    </div>
  </div>

  <div class="breadcrumb-custom">
    <a href="http://ec.europa.eu">${_('European Commission')}</a><span class="seperator">&gt;</span><a href="${h.root_url()}" class="active">${_('Open Data Portal')}</a><span class="seperator">&gt;</span><a href="${h.url('home')}">${_('Data')}</a><span py:if="defined('breadcrumbs_extra')">${breadcrumbs_extra()}</span>
  </div>

  <div class="menu">
    <div class="region region-menu">
      <ul class="menu">
        <li class="first leaf"><a href="${h.root_url()}">${_('Home')}</a></li>
        <li class="leaf"><a href="${h.url('home')}" class="active">${_('Data')}</a></li>
        <li class="leaf"><a href="${h.root_url()}apps">${_('Applications')}</a></li>
        <li class="leaf"><a href="${h.root_url()}linked-data">${_('Linked Data')}</a></li>
        <li class="last leaf"><a href="${h.root_url()}about">${_('About')}</a></li>
      </ul>
    </div>
  </div>

  <div id="search-header"></div>

  <py:with vars="messages = list(h._flash.pop_messages())">
    <div class="flash-messages">
      <div class="alert ${m.category}" py:for="m in messages">
        ${h.literal(m)}
      </div>
    </div>
  </py:with>

  <div id="wrapper">
    <div class="row bootstrap-row">
      <div class="span8">
        <div id="page-search"></div>
        <h1 py:if="defined('page_heading')" class="page_heading">${page_heading()}</h1>
        <div id="minornavigation">
          <minornavigation></minornavigation>
        </div>
        <div id="content">
          <py:if test="defined('content')">
            ${content()}
          </py:if>
          <content>
            <p>Master content template placeholder &hellip; please replace me.</p>
          </content>
        </div>
      </div>
      <div class="span4">
        <div id="sidebar">
          <ul class="widget-list unstyled">
            <py:if test="defined('primary_sidebar_extras')">
              ${primary_sidebar_extras()}
            </py:if>
            <primarysidebar>
              <!-- Primary Side Bar Goes Here -->
            </primarysidebar>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="content-last-updated" class="footer">
    Last update: ${h.current_date()} |
    <a href="#">${_('About this site')}</a> |
    <a href="http://ec.europa.eu/geninfo/legal_notices_en.htm">${_('Legal notice')}</a> |
    <a href="/contact">${_('Contact')}</a> |
    <a href="#top">Top</a>
  </div>

</div>

<script src="${h.url_for_static('/scripts/vendor/jquery/1.7.1/jquery-1.7.1.min.js')}"></script>
<script type="text/javascript" src="${h.url_for_static('/scripts/vendor/json2.js')}"></script>
<script type="text/javascript" src="${h.url_for_static('/scripts/vendor/jquery.tmpl/beta1/jquery.tmpl.js')}"></script>
<script type="text/javascript" src="${h.url_for_static('/scripts/vendor/jquery.cookie/jquery.cookie.min.js')}"></script>
<script type="text/javascript" src="${h.url_for_static('/scripts/vendor/jquery.chosen/0.9.7/chosen.js')}"></script>
<script type="text/javascript" src="${h.url_for_static('/scripts/vendor/jquery.placeholder/jquery.placeholder.js')}"></script>
<script type="text/javascript" src="${h.url_for_static('/scripts/vendor/jqueryui/1.8.14/jquery-ui.min.js')}"></script>
<script type="text/javascript" src="${h.url_for_static('/scripts/vendor/bootstrap/2.0.3/bootstrap.min.js')}"></script>

<!-- for application.js -->
<script type="text/javascript" src="${h.url_for_static('/scripts/vendor/underscore/1.1.6/underscore.js')}"></script>
<script type="text/javascript" src="${h.url_for_static('/scripts/vendor/backbone/0.5.1/backbone.js')}"></script>
<script type="text/javascript" src="${h.url_for_static('/scripts/vendor/jquery.fileupload/20110801/jquery.iframe-transport.js')}"></script>
<script type="text/javascript" src="${h.url_for_static('/scripts/vendor/jquery.fileupload/20110801/jquery.fileupload.js')}"></script>

<!-- Translated js strings live inside an html template. -->
<xi:include href="js_strings.html" />
<!-- finally our application js that sets everything up-->
<script type="text/javascript" src="${h.url_for_static('/scripts/application.js?lang=${c.locale}')}"></script>
<script type="text/javascript" src="${h.url_for_static('/scripts/templates.js')}"></script>

<script type="text/javascript" src="${h.url_for_static('/scripts/ecportal.js')}"></script>

<script type="text/javascript">
  CKAN.plugins = [
    // Declare js array from Python string
    ${['\'%s\', '%s  for s in config.get('ckan.plugins','').split(' ')]}
  ];
  <py:if test="config.get('ckan.storage.bucket', '')">
  CKAN.plugins.push('storage');
  </py:if>
  CKAN.SITE_URL = '${h.url('/')}';
  CKAN.SITE_URL_NO_LOCALE = '${h.url('/', locale='default')}';
  CKAN.LANG = '${h.lang()}';
  // later use will add offsets with leading '/' so ensure no trailing slash
  CKAN.SITE_URL = CKAN.SITE_URL.replace(/\/$/, '');
  CKAN.SITE_URL_NO_LOCALE = CKAN.SITE_URL_NO_LOCALE.replace(/\/$/, '');
  $(document).ready(function() {
      var ckan_user = '${c.user}';
      if (ckan_user) {
          $(".ckan-logged-out").hide();
          $(".ckan-logged-in").show();
      }
      $('input[placeholder], textarea[placeholder]').placeholder();

  $(".chzn-select").chosen();
  });
</script>

<py:if test="h.asbool(config.get('ckan.tracking_enabled', 'false'))">
<script type="text/javascript">
$(function (){
 // Tracking
 var url = location.pathname;
 // remove any site root from url
 url = url.substring(CKAN.SITE_URL.length, url.length);
 // trim any trailing /
 url = url.replace(/\/*$/, '');
 $.ajax({url : CKAN.SITE_URL_NO_LOCALE + '/_tracking',
     type : 'POST',
     data : {url:url, type:'page'},
     timeout : 300 });
         $('a.resource-url-analytics').click(function (e){
                 var url = $(e.target).closest('a').attr('href');
     $.ajax({url : CKAN.SITE_URL_NO_LOCALE + '/_tracking',
           data : {url:url, type:'resource'},
         type : 'POST',
         complete : function () {location.href = url;},
         timeout : 30});
                 e.preventDefault();
                 });
         });
</script>
</py:if>

<py:if test="defined('optional_footer')">
  ${optional_footer()}
</py:if>

${h.literal(getattr(g, 'template_footer_end', ''))}

</body>
</html>
