<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <xi:include href="facets.html" />

  <py:def function="facet_div(name, title, limit=10, label_function=lambda item: item.display_name, if_empty=None, count_label=lambda c: ' (%d)'%c)">
      <!-- same as facet_div from facets.html but the facet title can be translated -->
      <div py:if="if_empty is not None or h.unselected_facet_items(name, limit)" class="facet-box">
          <h2>${_(h.facet_title(title))}</h2>
          <ul class="facet-options">
              ${facet_li(name, limit=limit, label_function=label_function, if_empty=None, count_label=count_label)}
          </ul>
          <p py:if="not h.unselected_facet_items(name, limit)">${if_empty}</p>
      </div>
  </py:def>

  <py:def function="field_list()">
  <div class="filter-list" py:if="c.fields">
    <div class="filter-entry" py:for="field, values in h.group_facets_by_field(c.fields).iteritems()">
      <span class="name">${_(h.facet_title(field))}:</span>
      <span py:for="value in values">
        <span class="value" py:choose="">
          <a href="${c.remove_field(field, value)}">
            <span>
              <py:when test="c.translated_fields and c.translated_fields.has_key((field,value))">
              ${c.translated_fields[(field,value)]}
              </py:when>
              <py:otherwise>
              ${value}
              </py:otherwise>
            </span>
            <strong>-</strong>
          </a>
        </span>
      </span>
    </div>  
  </div>
  </py:def>

</html>
