<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  
  <py:def function="page_title">About</py:def>

  <div py:match="content">
    <h2>About ${g.site_title}</h2>
    <p>Most of the data indexed at ${g.site_title} is openly licensed, meaning anyone is free to use or re-use it however they like. You can read more about open data in the <a href="http://opendatamanual.org/introduction/index.html" >Open Data Manual</a>.</p>
    <p i18n:msg="">The <a href="http://okfn.org">Open Knowledge Foundation</a> is a non-profit organisation <a href="http://okfn.org/about/vision/">promoting</a> open knowledge.</p>
	</div>

  <xi:include href="layout.html" />
</html>
