<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  
  <py:def function="body_class">no-sidebar</py:def>
  <py:def function="page_title">Data</py:def>

  <div py:match="//div[@id='search-header']" class="front-page">
    <div class="region region-tabdesc">
      <div class="row bootstrap-row">
        <div class="span8">
          <form id="ckan-form" action="${h.url_for(controller='package', action='search')}" method="GET">
           <div class="form-item form-type-textfield form-item-query">
             <label for="edit-query">
               <span class="form-required" title="This field is required.">*</span>
             </label>
             <input type="text" id="edit-query" name="q" value="" size="60" placeholder="${_('Find datasets...')}" class="form-text required" />
           <input type="submit" id="dataset-search" name="op" value="" class="form-submit" />
           </div>
           <p py:if="c.package_count">${g.site_title} contains
             <a href="${h.url_for(controller='package', action='search')}">${c.package_count} datasets</a>
             that you can browse, learn about and download.</p>
          </form>
        </div>
        <div class="span4">
        ${h.snippet('snippets/suggest_box.html')}
        </div>
      </div>
    </div>
  </div>

  <div py:match="//div[@id='wrapper']" class="front-page">
    <div class="row bootstrap-row">
      <div class="span6">
        <div class="region-content">
          <h2>
            ${_('Top Publishers')}
            <a href="${h.url_for(controller='group', action='index')}">
              <i class="publisher"></i>
              ${_('view all publishers')} &raquo;
            </a>
          </h2>
          <py:for each="i, group_dict in enumerate(h.top_publishers(c.groups))">
            <a py:if="group_dict['packages']" href="${h.url_for(controller='group', action='read', id=group_dict['name'])}" class="item_link">
              <i class="publisher"></i>
              <strong>${_(group_dict['title'])}</strong><br />
              <span class="additional">(${group_dict['packages']} datasets)</span>
            </a>
          </py:for>
        </div>
      </div>
      <div class="span6">
        <div class="region-content">
          <h2>
            ${_('Recent Updates')}
            <a href="${h.url_for(controller='package', action='search')}">
              <i class="resource"></i>
              ${_('view all datasets')} &raquo;
            </a>
          </h2>
          ${h.snippet('snippets/recent_updates_package_list.html', packages=h.recent_updates(10))}
        </div>
        <!--
        <div class="region-content">
          <h2>
            ${_('Tags')}
            <a href="${h.url_for(controller='package', action='tags')}">
              <i class="tag"></i>
              ${_('view all tags')} &raquo;
            </a>
          </h2>
        </div>
        -->
      </div>
    </div>

  </div>
  <xi:include href="layout.html" />
</html>
