<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  
  <py:def function="body_class">no-sidebar</py:def>
  <py:def function="page_title">Data</py:def>

  <div py:match="//div[@id='content']" class="front-page">

    <div class="row-fluid">
      <div class="span6 action-box">
        <div class="action-box-inner find">
          <h1>Find data</h1>
          <form action="${h.url_for(controller='package', action='search')}" method="GET"> 
            <input name="q" value="" class="search-field" placeholder="${_('Find datasets')}" /> 
          </form> 
          ${g.site_title} contains 
          <a href="${h.url_for(controller='package', action='search')}">${c.package_count} datasets</a>
          that you can browse, learn about and download. 
        </div>
        <div class="action-box-inner">
          <h1>Top Publishers</h1>
          <py:for each="i, group_dict in enumerate(c.groups[:6])">
            <div py:if="group_dict['packages']" class="group">
              <a href="${h.url_for(controller='group', action='read', id=group_dict['name'])}">
                ${group_dict['title']} (${group_dict['packages']} datasets)
              </a>
              <p py:if="len(group_dict['description'])">${h.markdown_extract(group_dict['description'])}</p>
            </div>
          </py:for>
        </div>
      </div>

      <div class="span6 action-box">
        <div class="action-box-inner">
          <h1>Recent Updates</h1>
          ${h.snippet('snippets/recent_updates_package_list.html', packages=h.recent_updates(10))}
        </div>
      </div>
    </div>

  </div>
  <xi:include href="layout.html" />
</html>
