<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <py:def function="body_class">no-sidebar</py:def>
  <py:def function="page_title">Data</py:def>

  <div py:match="//div[@id='search-header']" class="front-page">
    <!-- <div class="message"><div class="red"> -->
    <!--   Maintenance message. -->
    <!-- </div></div> -->
    <div class="region region-tabdesc">
      <div class="row bootstrap-row">
        <div class="span8">
          <form id="ckan-form" action="${h.url_for(controller='package', action='search')}" method="GET">
           <div class="form-item form-type-textfield form-item-query">
             <label for="edit-query">
               <span class="form-required" title="This field is required.">*</span>
             </label>
             <input type="text" id="edit-query" name="q" value="" size="60" placeholder="${_('Find datasets...')}" class="form-text required" />
           <input type="submit" id="dataset-search" name="op" value="" class="form-submit" />
           <p style="margin-bottom: 10px;">
             ${h.snippet('snippets/boolean_search_choice.html')}
           </p>
           </div>
           <p py:if="c.package_count">${g.site_title} contains
             <a href="${h.url_for(controller='package', action='search')}">${c.package_count} datasets</a>
             that you can browse, learn about and download.</p>
          </form>
        </div>
        <div class="span4">
          ${h.snippet('snippets/suggest_box.html')}
        </div>
      </div>
    </div>
  </div>

  <div py:match="//div[@id='wrapper']" class="front-page">
    <div class="row bootstrap-row has-one-box">
      <div class="span6">
        <div class="box" py:if="c.most_viewed_datasets">
          <h2>
            <a href="${h.url_for(controller='package', action='search')}">
              <i class="resource"></i>
              ${_('view all')} &raquo;
            </a>
            ${_('Most viewed datasets')}
          </h2>
          <div class="inner">
            ${h.snippet('snippets/most_viewed_datasets.html', packages=c.most_viewed_datasets)}
          </div>
        </div>
      </div>
      <div class="span6" py:with="homepage_content = h.homepage_content(str(h.current_locale()))">
        <div py:if="homepage_content" class="intro-welcome">
          <h2>${homepage_content.get('title')}</h2>
          <div class="inner">
            <div id="homepage-content-body">${homepage_content.get('body')}</div>
          </div>
        </div>
        <div py:if="c.json" class="region-content block-box">
          <h2>${_('Popular terms')}</h2>
          <div id="searchcloud" style="width: 100%; height: 300px; border: 1px solid #fff;"></div>
        </div>
      </div>
    </div>
    <div class="row bootstrap-row has-two-boxes">
      <div class="span6">
        <div class="box">
          <h2>
            <a href="${h.url_for(controller='package', action='search', sort='modified_date desc')}">
              <i class="resource"></i>
              ${_('view all')} &raquo;
            </a>
            ${_('Recently updated datasets')}
          </h2>
          <div class="inner">
          ${h.snippet('snippets/recent_updates_package_list.html', packages=h.recent_updates(10))}
          </div>
        </div>
      </div>
      <div class="span6">
        <div class="box">
          <h2>
            <a href="${h.url_for(controller='group', action='index')}">
              <i class="publisher"></i>
              ${_('view all')} &raquo;
            </a>
            ${_('Top Publishers')}
          </h2>
          <div class="inner">
          <py:for each="i, group_dict in enumerate(h.top_publishers(c.groups))">
            <a py:if="group_dict['packages']" href="${h.url_for(controller='group', action='read', id=group_dict['name'])}" class="item_link">
              <i class="publisher"></i>
              <strong>${_(group_dict['title'])}</strong><br />
              <span class="additional">(${group_dict['packages']} ${_('datasets')})</span>
            </a>
          </py:for>
          </div>
        </div>
      </div>
    </div>

  </div>

  <py:def function="optional_head">
    <link py:if="c.json" rel="stylesheet" href="${h.url_for_static('/css/vendor/jqcloud/1.0.4/jqcloud.css')}"/>
  </py:def>

  <py:def function="optional_footer">
    <script py:if="c.json" type="text/javascript" src="${h.url_for_static('/scripts/vendor/jqcloud/1.0.4/jqcloud-1.0.4.min.js')}"></script>
    <script py:if="c.json" type="text/javascript">
      var word_array = ${c.json}
      $(function() {
        $("#searchcloud").jQCloud(word_array, {removeOverflowing: false});
        $('#searchcloud').bind('click', function(event) {
          var search_base_url = "${h.url_for(controller='package', action='search')}";
          var word = $(event.target);
          var search_url = search_base_url+'?q='+encodeURIComponent(word.text());
          window.location.href = search_url;
        })
      });
    </script>
  </py:def>
  <xi:include href="layout.html" />
</html>
