<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >

  <py:match path="minornavigation">
    <ul class="nav nav-pills" py:choose="c.is_myself">
      <py:when test="True">
        <li class="${'active' if c.action=='read' else ''}"><a href="${h.url_for(controller='user', action='read', id=c.user)}">${_('My profile')}</a></li>
        <li class="${'active' if c.action=='edit' else ''}"><a href="${h.url_for(controller='user', action='edit')}">${_('Edit Profile')}</a></li>
        <li><a href="${h.url_for('/user/logout')}">${_('Log out')}</a></li>
      </py:when>
      <py:otherwise>
        <py:if test="c.id">
          <li class="${'active' if c.action=='read' else ''}"><a href="${h.url_for(controller='user', action='read', id=c.user_dict.name)}">${_('View Profile')}</a></li>
        </py:if>
        <py:if test="not c.id and not c.user">
          <li class="${'active' if c.action=='login' else ''}"><a href="${h.url_for(controller='user', action='login')}">${_('Login')}</a></li>
        </py:if>
      </py:otherwise>
    </ul>
  </py:match>

  <xi:include href="../layout.html" />
</html>
