<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >

  <ul class="datasets unstyled">
    <li py:for="package in packages">
      <a href="${h.url_for(controller='package', action='read', id=package.get('name'))}" class="item_link">
        <i class="resource"></i>
        <p>${package.get('title') or package.get('name')}</p>
        <p class="additional">${h.markdown_extract(package.get('description', u''))}</p>
      </a>
    </li>
  </ul>

</html>
