<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >

  <ul class="datasets unstyled">
    <li py:for="package in packages">
      <a href="${h.url_for(controller='package', action='read', id=package.get('name'))}" class="item_link">
        <i class="resource"></i>
        <strong>${package.get('title') or package.get('name')}</strong><br />
        <span class="additional">${h.markdown_extract(package.get('description', u''))}</span>
        <py:if test="package.get('resources')">
          <span class="resources">
            <py:for each="resource in package.get('resources')">
              <py:if test="resource.get('format')">
                <span class="resource-tag">${resource.get('format')}</span>
              </py:if>
            </py:for>
          </span>
        </py:if>
      </a>
    </li>
  </ul>

</html>
