<?python
  show_navigation = c.pkg and ( h.check_access('show_package_edit_button',{'id':c.pkg.id}) or h.check_access('package_edit_permissions',{'id':c.pkg.id}) )
?>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >

  <py:match path="minornavigation" py:if="show_navigation">
      <ul class="nav nav-pills">
        <py:if test="h.check_access('show_package_edit_button',{'id':c.pkg.id})">
          <!--! Show an enabled edit button if package_update is available -->
          <py:if test="h.check_access('package_update',{'id':c.pkg.id})">
            <li class="${'active' if c.action=='edit' else ''}">
              ${h.subnav_link(h.icon('package_edit') + _('Edit'), controller='package', action='edit', id=c.pkg.name)}
            </li>
          </py:if>
          
          <!--! Otherwise, show a disabled edit button -->
          <py:if test="not h.check_access('package_update',{'id':c.pkg.id})">
            <li class="disabled">
              <a title="${_('Online editing is disabled for imported datasets.')}">${h.icon('package_edit') + _('Edit')}</a>
            </li>
          </py:if>
        </py:if>

        <li py:if="h.check_access('package_update',{'id':c.pkg.id})">
          ${h.link_to(
            _('Add / Edit resources'),
            h.url_for(action='editresources', id=c.pkg.name, controller='package')
            )}
        </li>

      <li class="${'active' if c.action=='authz' else ''}" py:if="h.check_access('package_edit_permissions',{'id':c.pkg.id})">
        ${h.subnav_link(h.icon('lock') + _('Authorization'), controller='package', action='authz', id=c.pkg.name)}
      </li>
    </ul>
  </py:match>
  
  <xi:include href="../layout.html" />

</html>
