<form
  py:with="tab_mode=(c.action=='edit')"
  class="${'tab-content' if tab_mode else ''} ${'has-errors' if errors else ''} form-horizontal"
  id="dataset-edit"
  method="post"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude" >

<xi:include href="../_util.html" />

<div class="alert alert-error error-explanation" py:if="error_summary">
<h2>Errors in form</h2>
<p>The form contains invalid entries:</p>
<ul>
  <li py:for="key, error in error_summary.items()">${"%s: %s" % (key if not key=='Name' else 'URL', error)}
    <py:if test="key=='Resources'">
      <ul>
        <py:for each="idx, errordict in enumerate(errors.get('resources', []))">
          <li py:if="errordict">
            Resource ${idx}:
            <ul>
              <li py:for="thiskey, thiserror in errordict.items()">${thiskey}: <py:for each="errorinfo in thiserror">${errorinfo}; </py:for></li>
            </ul>
          </li>
        </py:for>
      </ul>
    </py:if>
  </li>
  <script>var global_form_errors = ${h.dump_json(errors)};</script>
</ul>
</div>

<fieldset class="tab-pane fade in active" id="basic-information">
  <div class="control-group title-field">
    <label class="control-label" for="title">Title</label>
    <div class="controls">
      <input id="title"
        class="js-title"
        name="title" type="text"
        value="${data.get('title', '')}"
        placeholder="${_('A short descriptive title for the dataset')}"
      />
      <p class="field_error" py:if="errors.get('title', '')">Error: ${errors.get('title', '')}</p>
      <p>A short descriptive title for the data set.</p>
      <p>It should not be a description though - save that for the Description field.</p>
      <p>Do not give a trailing full stop. Do not use allcaps.</p>
    </div>
  </div>

  <div class="control-group name-field">
    <label class="control-label" for="name">Name</label>
    <div class="controls">
      <div class="input-prepend">
        <span class="add-on">${h.url(controller='package', action='search')+'/'}</span>
        <input maxlength="100" name="name" type="text" class="js-url-input" value="${data.get('name', '')}" />
      </div>
      <p class="field_error" py:if="errors.get('name', '')">Error: ${errors.get('name', '')}</p>
      <p class="js-url-is-valid">&nbsp;</p>
      <p class="url-is-long">Warning: URL is very long. Consider changing it to something shorter.</p>
      <p>A unique identifier for the package.</p>
      <p>It should be broadly humanly readable, in the spirit of Semantic Web URIs.</p>
      <p>Only use an acronym if it is widely recognised. Renaming is possible but discouraged.</p>
      <p>2+ characters, lowercase, using only 'a-z0-9' and '-_' include date (yyyy-mm-dd) if a static dataset.</p>
    </div>
  </div>

  <div class="control-group title-field">
    <label class="control-label" for="alternative_title">Alternative Title</label>
    <div class="controls">
      <input id="alternative_title" name="alternative_title" type="text"
        value="${data.get('alternative_title', '')}" />
      <p class="field_error" py:if="errors.get('alternative_title', '')">Error: ${errors.get('alternative_title', '')}</p>
    </div>
  </div>

  <div class="control-group description-field">
    <label class="control-label" for="description">Description</label>
    <div class="controls">
      ${markdown_editor('description', data.get('description'), 'description', _('The main description of the dataset ...'))}
      <p class="field_error" py:if="errors.get('description')">Error: ${errors.get('description')}</p>
      <p>The main description of the dataset. It is often displayed with the package title.</p>
      <p>In particular, it should start with a short sentence that describes the data set succinctly,
        because the first few words alone may be used in some views of the data sets.</p>
    </div>
  </div>

  <div class="control-group homepage-field">
    <label class="control-label" for="url">URL</label>
    <div class="controls">
      <input id="url" name="url" type="text" value="${data.get('url', '')}"/>
      <p class="field_error" py:if="errors.get('url', '')">Error: ${errors.get('url', '')}</p>
      <p>The URL for the web page describing the data (not the data itself).</p>
      <p>e.g. http://www.example.com/growth-figures.html</p>
    </div>
  </div>

  <div class="control-group license-field">
    <label class="control-label" for="license_id">License</label>
    <div class="controls">
      <select id="license_id" name="license_id">
        <py:for each="licence_desc, licence_id in c.licences">
          <option value="${licence_id}" py:attrs="{'selected': 'selected' if data.get('license_id', '') == licence_id else None}" >${licence_desc}</option>
        </py:for>
      </select>
      <p>The licence under which the dataset is released.</p>
    </div>
  </div>

<?python
organization = data.get('groups', {})
if organization:
    organization = organization[0]
?>

  <div class="control-group publisher-field">
    <label class="control-label" for="published_by">Published By</label>
    <div class="controls">
      <select id="published_by" name="groups__0__id">
        <py:with vars="published_by = organization['id'] if organization else data.get('published_by', '')">
          <py:for each="publisher_id, publisher_desc in c.publishers">
            <option value="${publisher_id}" py:attrs="{'selected': 'selected' if published_by == publisher_id else None}" >${publisher_desc}</option>
          </py:for>
        </py:with>
      </select>
      <p>The publisher of the dataset.</p>
        <div class="subcontrols">
          <div>
            <input id='cap_public' type='radio' name='groups__0__capacity' value='public' py:attrs="{'checked':'checked'} if organization.get('capacity','') in ['public', ''] else {}"/>
            <label for='cap_public'>Public</label>
          </div>
          <div>
            <input id='cap_private' type='radio' name='groups__0__capacity' value='private' py:attrs="{'checked':'checked'} if organization.get('capacity','') == 'private' else {}"/>
            <label for='cap_private'>Private</label>
          </div>
        </div>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="status">Status</label>
    <div class="controls">
      <input id="status" name="status" type="text"
        value="${data.get('status', '')}" />
      <p class="field_error" py:if="errors.get('status', '')">Error: ${errors.get('status', '')}</p>
      <p>e.g. published, withdrawn, draft</p>
    </div>
  </div>
</fieldset>

<fieldset class="tab-pane fade" id="further-information">
  <div class="control-group title-field">
    <label class="control-label" for="identifier">Identifier</label>
    <div class="controls">
      <input id="identifier" name="identifier" type="text"
        value="${data.get('identifier', '')}" />
        <p>Literal identifiers.</p>
        <p>e.g. CELEX number, etc.</p>
      <p class="field_error" py:if="errors.get('identifier', '')">${errors.get('identifier', '')}</p>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="interoperability_level">Interoperability Level</label>
    <div class="controls">
      <select id="interoperability_level" name="interoperability_level">
        <py:for each="interop_id, interop_name in c.interoperability_levels">
          <option value="${interop_id}" py:attrs="{'selected': 'selected' if data.get('interoperability_level') == interop_id else None}">
            ${interop_name}
          </option>
        </py:for>
      </select>
      <p>Interoperability level for which the dataset is relevant.</p>
      <p class="field_error" py:if="errors.get('interoperability_level', '')">${errors.get('interoperability_level', '')}</p>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="type_of_dataset">Type of Dataset</label>
    <div class="controls">
      <select id="type_of_dataset" name="type_of_dataset">
        <py:for each="name, desc in c.type_of_dataset">
          <option value="${name}" py:attrs="{'selected': 'selected' if data.get('type_of_dataset', '') == name else None}" >
            ${desc}
          </option>
        </py:for>
      </select>
      <p>The type of dataset.</p>
      <br />
      <p>Primary legal materials include documents of primary authority issued by governmental bodies,
      such as court opinions, statutes, and regulations. They also include the supporting documents
      and other media issued and maintained by those bodies, such as dockets, hearings, forms,
      oral arguments, and legislative histories. These materials can be found in every branch,
      at every level, national, tribal, state and local, and should be available to anyone with the will
      and the heart to obtain them.</p>
      <br />
      <p>Government operational records are typically administrative records (rather than legal records)
      that are useful for the public to identify conflicts of interest and to perform oversight.
      Contracts/grants, personal financial disclosures, etc. These documents have little utility aside from oversight.</p>
      <br />
      <p>The last category "civic capital" are government records that have utility that have nothing to do
      with government per se.  Environmental and weather data, health and safety data, corporate compliance records.
      These records can save lives, make markets more efficient, etc. These records are closest to
      Government as a Platform.</p>
      <p class="field_error" py:if="errors.get('type_of_dataset', '')">${errors.get('type_of_dataset', '')}</p>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="release_date">Release Date</label>
    <div class="controls">
      <input id="release_date"
        name="release_date" type="text"
        value="${data.get('release_date', '')}"
        placeholder="${_('YYYY-MM-DD, YYYY-MM or YYYY')}"
      />
      <p>Date of formal issuance (e.g., publication) of the dataset.</p>
      <p>Acceptable date formats: YYYY-MM-DD, YYYY-MM, YYYY.</p>
      <p class="field_error" py:if="errors.get('release_date', '')">${errors.get('release_date', '')}</p>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="modified_date">Modified Date</label>
    <div class="controls">
      <input id="modified_date"
        name="modified_date" type="text"
        value="${data.get('modified_date', '')}"
        placeholder="${_('YYYY-MM-DD, YYYY-MM or YYYY')}"
      />
      <p>Most recent date on which the dataset was changed, updated or modified.</p>
      <p>Acceptable date formats: YYYY-MM-DD, YYYY-MM, YYYY.</p>
      <p class="field_error" py:if="errors.get('modified_date', '')">${errors.get('modified_date', '')}</p>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="accrual_periodicity">Accrual Periodicity</label>
    <div class="controls">
      <select id="accrual_periodicity" name="accrual_periodicity">
        <py:for each="freq_name, freq_desc in c.accrual_periodicity">
          <option value="${freq_name}" py:attrs="{'selected': 'selected' if data.get('accrual_periodicity', '') == freq_name else None}" >
            ${freq_desc}
          </option>
        </py:for>
      </select>
      <label class="inline" for="accrual_periodicity-other">Other:
        <input class="medium-width" id="accrual_periodicity-other" name="accrual_periodicity-other"
          type="text" value="${data.get('accrual_periodicity-other', '')}"/>
      </label>
      <p>The frequency with which dataset is published.</p>
      <p class="field_error" py:if="errors.get('accrual_periodicity', '')">${errors.get('accrual_periodicity', '')}</p>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="temporal_coverage">Temporal Coverage</label>
    <div class="controls">
      <input id="temporal_coverage_from" name="temporal_coverage_from"
        class="js-title" type="text" value="${data.get('temporal_coverage_from', '')}"
        placeholder="${_('YYYY-MM-DD, YYYY-MM or YYYY')}"
      />
      -
      <input id="temporal_coverage_to" name="temporal_coverage_to"
        type="text" value="${data.get('temporal_coverage_to', '')}"
        placeholder="${_('YYYY-MM-DD, YYYY-MM or YYYY')}"
      />
      <p>The start and end of the temporal series used in this dataset.</p>
      <p>e.g. 2010-01-01 - 2012-01-01</p>
      <p>Acceptable date formats: YYYY-MM-DD, YYYY-MM, YYYY.</p>
      <p class="field_error" py:if="errors.get('temporal_coverage_from', '')">
        ${errors.get('temporal_coverage_from', '')}</p>
      <p class="field_error" py:if="errors.get('temporal_coverage_to', '')">
        ${errors.get('temporal_coverage_to', '')}</p>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="temporal_granularity">Temporal Granularity</label>
    <div class="controls">
      <select id="temporal_granularity" name="temporal_granularity">
        <py:for each="temporal_name, temporal_desc in c.temporal_granularity">
          <option value="${temporal_name}" py:attrs="{'selected': 'selected' if data.get('temporal_granularity', '') == temporal_name else None}" >
            ${temporal_name}
          </option>
        </py:for>
      </select>
      <p>This should give the lowest level of temporal detail given in the dataset
        if it is aggregated, expressed as an interval of time.</p>
      <p class="field_error" py:if="errors.get('temporal_granularity', '')">${errors.get('temporal_granularity', '')}</p>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="geographical_coverage">Geographical Coverage</label>
    <div class="controls">
      <select id="geographical_coverage" class="chzn-select" name="geographical_coverage"
        multiple="multiple" style="width: 30em;">
        <py:for each="tag_name, tag_translation in c.geographical_coverage">
          <py:choose test="">
            <option py:when="tag_name in data.get('geographical_coverage', [])"
              selected="selected" value="${tag_name}">${tag_translation}</option>
            <option py:otherwise="" value="${tag_name}">${tag_translation}</option>
          </py:choose>
        </py:for>
      </select>
      <p>The geographical coverage of this dataset.</p>
      <p class="field_error" py:if="errors.get('geographical_coverage', '')">${errors.get('geographical_coverage', '')}</p>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label field_opt" for="version">Version</label>
    <div class="controls">
      <input id="version" maxlength="100" name="version" type="text" value="${data.get('version', '')}" />
      <p>A number representing the version (if applicable)</p>
      <p>e.g. 1.2.0</p>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label field_opt" for="version_description">Version Description</label>
    <div class="controls">
      <input id="version_description" maxlength="100" name="version_description" type="text" value="${data.get('version_description', '')}" />
      <p>Description of changes between this version and the previous version of the dataset.</p>
    </div>
  </div>
</fieldset>

<fieldset class="tab-pane fade" id="keywords">
  <div class="control-group">
    <label class="control-label field_opt" for="keywords">Keywords</label>
    <div class="controls">
      <input class="long autocomplete-tag" id="keyword_string" name="keyword_string" size="60" type="text"
        value="${data.get('keyword_string') or ', '.join([keyword['name'] for keyword in data.get('keywords', [])])}" />
      <p>Comma-separated terms that may link this dataset to similar ones.  For more information on conventions,
        see <a href="http://wiki.okfn.org/ckan/doc/faq#TagConventions">this wiki page</a>.</p>
      <p>Keywords must be alphanumeric characters or symbols: -_.</p>
      <p>Keywords must not be uppercase words in phrases connected with hyphen.</p>
      <p>e.g. pollution rivers water-quality</p>
      <p class="field_error" py:if="errors.get('keyword_string', '')">${errors.get('keyword_string', '')}</p>
    </div>
  </div>
</fieldset>

<fieldset class="tab-pane fade" id="extras">
  <p>This data will also appear under <strong>Additional Information</strong> when viewing the dataset.</p>
  <br />
  <py:with vars="extras = c.additional_extras">
    <py:for each="num, extra in enumerate(extras)">
      <div class="control-group">
        <label class="control-label" for="extras__${num}__value">${extra.get('key')}</label>
        <div class="controls">
          <input id="extras__${num}__key" name="extras__${num}__key" type="hidden" value="${extra.get('key')}" />
          <input id="extras__${num}__value" name="extras__${num}__value" type="text" value="${extra.get('value')}" />
          <label class="checkbox" style="display: inline-block;">
            <input type="checkbox" name="extras__${num}__deleted" checked="${extra.get('deleted')}" />Delete
          </label>
        </div>
      </div>
    </py:for>
    <hr py:if="len(extras)" class="extras-divider" />
    <py:for each="num in range(len(extras), len(extras) + 4)">
      <div class="control-group">
        <label class="control-label" for="extras__${num}__key">Add...</label>
        <div class="controls">
          <label>
            <span class="extras-label">Key =</span>
            <input class="medium-width" id="extras__${num}__key" name="extras__${num}__key" type="text" />
          </label>
          <label>
            <span class="extras-label">Value =</span>
            <input class="medium-width" id="extras__${num}__value" name="extras__${num}__value" type="text" />
          </label>
        </div>
      </div>
    </py:for>
  </py:with>
</fieldset>

<fieldset id='delete' class="tab-pane fade" py:if="c.is_sysadmin or c.auth_for_change_state">
  <dl>
    <dt>Delete</dt>
    <dd>
      <p>Do you really want to change the state of this dataset? &nbsp;&nbsp;<button class="dataset-delete btn">Yes!</button></p>
      <span>
      This dataset is&nbsp;&nbsp;
      <select id="state" class="dataset-delete" name="state" style="display:inline;">
        <option py:attrs="{'selected': 'selected' if data.get('state') == 'active' else None}" value="active">active</option>
        <option py:attrs="{'selected': 'selected' if data.get('state') == 'deleted' else None}" value="deleted">deleted</option>
      </select>
      </span>
    </dd>
  </dl>
</fieldset>

<fieldset class="tab-pane" id="resources">
  <legend>Add Resources</legend>
  <div class="instructions">
    <p>Upload or link data files, APIs and other materials related to your dataset.</p>
  </div>
  <div class="row">
    <div class="span4">
      <ul class="resource-list resource-list-edit drag-drop-list">
      </ul>
      <ul class="resource-list resource-list-add">
        <li><a href="#" class="js-resource-add">${h.icon('page_white_add')}New resource...</a></li>
      </ul>
    </div>
    <div class="span8">
      <div style="display: none;" class="resource-panel">
        <button class="btn btn-danger resource-panel-close">x</button>
        <div class="resource-details resource-add">
          <ul class="nav nav-tabs">
            <li><a data-toggle="tab" href="#link-file">Link to a file</a></li>
            <li><a data-toggle="tab" href="#link-api">Link to an API</a></li>
            <li><a data-toggle="tab" href="#upload-file">Upload a file</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane" id="link-file">
              <div class="form-inline js-add-url-form">
                <label class="field_opt" for="url">File URL</label>
                <input name="add-resource-url" type="text" class="input-small" placeholder="http://mydataset.com/file.csv"/>
                <input name="add-resource-save" type="submit" class="btn btn-primary" value="Add" />
              </div>
            </div>
            <div class="tab-pane" id="link-api">
              <div class="form-inline js-add-api-form">
                <label class="field_opt" for="url">API URL</label>
                <input name="add-resource-url" type="text" class="input-small" placeholder="http://mydataset.com/api/"/>
                <input name="add-resource-save" type="submit" class="btn btn-primary" value="Add" />
              </div>
            </div>
            <div class="tab-pane" id="upload-file">
              <div class="js-add-upload-form">
              </div>
              <div class="alert alert-block" style="display: none;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="js-resource-edit-barebones">
    <!-- The resource editor deletes these fields and replaces them with a dynamic editor.
         They are required for the form to render correctly when not in resource-edit mode. -->
    <py:for each="num,res in enumerate(data.get('resources', []))">
      <py:for each="field in res.keys()">
      <input type="hidden" name="resources__${res.get('position')}__${field}" value="${res.get(field)}" />
      </py:for>
    </py:for>
  </div>
</fieldset>

<div class="author-box ckan-logged-in" style="display: none;">
  <p>Author: ${c.author}</p>
</div>
<div class="author-box ckan-logged-out">
  <label>Author: ${c.author}</label>
  <p i18n:msg="" class="hints">
    Since you have not signed in this will just be your IP address.
    <a href="${h.url_for(controller='user', action='login', id=None)}" target="_blank">Click here to sign in</a> before saving (opens in new window).
  </p>
</div>

<div class="form-actions">
  <input id="save" class="btn btn-primary" name="save" type="submit" value="${_('Save Changes')}" />
  <py:if test="c.pkg">
    <input id="cancel" class="btn href-action" name="cancel" type="reset" value="${_('Cancel')}" action="${h.url_for(controller='package', action='read', id=c.pkg.name)}" />
  </py:if>
</div>

</form>
