<form id="dataset-edit" method="post" 
  py:attrs="{'class':'has-errors'} if errors else {}"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

<div class="error-explanation" py:if="error_summary">
<h2>Errors in form</h2>
<p>The form contains invalid entries:</p>
<ul>
  <li py:for="key, error in error_summary.items()">${"%s: %s" % (key, error)}
    <py:if test="key=='Resources'">
      <ul>
        <py:for each="idx, errordict in enumerate(errors.get('resources', []))">
          <li py:if="errordict">
            Resource ${idx}:
            <ul>
              <li py:for="thiskey, thiserror in errordict.items()">${thiskey}: <py:for each="errorinfo in thiserror">${errorinfo}; </py:for></li>
            </ul>
          </li>
        </py:for>
      </ul>
    </py:if>
  </li>
</ul>
</div>

<fieldset id="basic-information">
  <dl>
    <dt class="title-label"><label class="field_opt" for="title">Title</label></dt>
    <dd class="title-field">
      <input id="title"
        class="js-title"
        name="title" type="text"
        value="${data.get('title', '')}"
        placeholder="${_('A short descriptive title for the dataset')}"
      />
    </dd>
    <dd class="title-instructions field_error" py:if="errors.get('title', '')">${errors.get('title', '')}</dd>

    <dt class="name-label"><label class="field_req" for="name">Url</label></dt>
    <dd class="name-field">
      <span class="js-url-text url-text">${g.site_url+url(controller='package', action='index')+'/'}<span class="js-url-viewmode js-url-suffix">&nbsp;</span><a href="#" style="display: none;" class="url-edit js-url-editlink js-url-viewmode">(edit)</a></span>
      <input style="display: none;" id="name" maxlength="100" name="name" type="text" class="url-input js-url-editmode js-url-input" value="${data.get('name', '')}" />
      <p class="js-url-is-valid">&nbsp;</p>
    </dd>
    <dd style="display: none;" class="js-url-editmode name-instructions basic">2+ characters, lowercase, using only 'a-z0-9' and '-_'</dd>
    <dd class="js-url-editmode name-instructions field_error" py:if="errors.get('name', '')">${errors.get('name', '')}</dd>

    <dt class="description-label"><label class="field_req" for="notes">Description</label></dt>
    <dd class="description-field"><div class="markdown-editor">
      <ul class="button-row">
        <li><button class="pretty-button js-markdown-edit depressed">Edit</button></li>
        <li><button class="pretty-button js-markdown-preview">Preview</button></li>
      </ul>
      <textarea class="markdown-input" name="notes" id="notes" placeholder="${_('Start with a summary sentence ...')}">${data.get('notes','')}</textarea>
      <div class="markdown-preview" style="display: none;"></div>
      <span class="hints">You can use <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown formatting</a> here.</span>
    </div></dd>

    <dt class="homepage-label"><label class="field_opt" for="url">Home Page</label></dt>
    <dd class="homepage-field"><input id="url" name="url" type="text" value="${data.get('url', '')}"/></dd>
    <dd class="homepage-instructions instructions basic">The URL for the web page describing the data (not the data itself).</dd>
    <dd class="homepage-instructions hints">e.g. http://www.example.com/growth-figures.html</dd>
    <dd class="homepage-instructions field_error" py:if="errors.get('url', '')">${errors.get('url', '')}</dd>

    <dt class="license-label"><label class="field_opt" for="license_id">License</label></dt>
    <dd class="license-field">
      <select id="license_id" name="license_id">
        <py:for each="licence_desc, licence_id in c.licences">
          <option value="${licence_id}" py:attrs="{'selected': 'selected' if data.get('license_id', '') == licence_id else None}" >${licence_desc}</option>
        </py:for>
      </select>
    </dd>
    <dd class="license-instructions instructions basic">The licence under which the dataset is released.</dd>
  </dl>
</fieldset>

<fieldset id='further-information'>
  <dl>
    <dt><label class="field_opt" for="author">Author</label></dt>
    <dd><input id="author" name="author" type="text" value="${data.get('author', '')}" /></dd>
    <dd class="instructions basic">The name of the main contact, for enquiries about this particular dataset, using the e-mail address in the following field.</dd>

    <dt><label class="field_opt" for="author_email">Author email</label></dt>
    <dd><input id="author_email" name="author_email" type="text" value="${data.get('author_email', '')}" /></dd>

    <dt><label class="field_opt" for="maintainer">Maintainer</label></dt>
    <dd><input id="maintainer" name="maintainer" type="text" value="${data.get('maintainer', '')}" /></dd>
    <dd class="instructions basic">If there is another important contact person (in addition to the person in the Author field) then provide details here.</dd>

    <dt><label class="field_opt" for="maintainer_email">Maintainer email</label></dt>
    <dd><input id="maintainer_email" name="maintainer_email" type="text" value="${data.get('maintainer_email', '')}" /></dd>

    <dt><label class="field_opt" for="version">Version</label></dt>
    <dd><input id="version" maxlength="100" name="version" type="text" value="${data.get('version', '')}" /></dd>
    <dd class="instructions basic">A number representing the version (if applicable)</dd>
    <dd class="hints">e.g. 1.2.0</dd>

    <dt py:if="c.is_sysadmin or c.auth_for_change_state"><label class="field_opt" for="state">State</label></dt>
    <dd py:if="c.is_sysadmin or c.auth_for_change_state">
    <select id="state" name="state" >
      <option py:attrs="{'selected': 'selected' if data.get('state') == 'active' else None}" value="active">active</option>
      <option py:attrs="{'selected': 'selected' if data.get('state') == 'deleted' else None}" value="deleted">deleted</option>
    </select>
    </dd>
  </dl>
</fieldset>

<fieldset id="resources">
  <div class="instructions basic"><h3>Resources: the files and APIs associated with this dataset</h3></div>
  <table class="resource-table-edit">
    <thead>
      <tr>
        <th class="field_req resource-url">Resource</th>
        <th class="resource-delete-link"></th>
      </tr>
    </thead>
    <tbody class="js-resource-editor">
    </tbody>
  </table>

  <div class="resource-add">
    <ul class="button-row">
      <li><h4>Add a resource:</h4></li>
      <li><button class="pretty-button js-link-file">Link to a file</button></li>
      <li><button class="pretty-button js-link-api">Link to an API</button></li>
      <li class="js-upload-file" style="display:none;"><button class="pretty-button js-upload-file">Upload a file</button></li>
    </ul>
  </div>
</fieldset>

<fieldset id="groups">
  <h3>Groups</h3>
  <dl>
    <py:for each="num, group in enumerate(data.get('groups', []))">
        <?python
        authorized_group = [group_authz for group_authz in c.groups_authz if group_authz['id'] == group['id']]
        authorized_group = authorized_group[0] if authorized_group else None
        ?>

      <dt py:if="'id' in group">
      <input type="${'checkbox' if authorized_group else 'hidden'}" name="groups__${num}__id" checked="checked" value="${group['id']}" />
      <input type="hidden" name="groups__${num}__name" value="${group.get('name', authorized_group['name'] if authorized_group else '')}" />
      </dt>     
      <dd py:if="'id' in group"><label for="groups__${num}__checked">${group.get('name', authorized_group['name'] if authorized_group else '')}</label></dd>
    </py:for>

    <dt>Group</dt>
    <dd py:if="c.groups_available"> 
      <select id="groups__${len(data.get('groups', []))}__id" name="groups__${len(data.get('groups', []))}__id">
        <option selected="selected" value="">(None)</option>
        <py:for each="group in c.groups_available">
          <option value="${group['id']}" >${group['name']}</option>
        </py:for>
      </select>
    </dd> 
    <dd py:if="not c.groups_available"><em>Cannot add any groups.</em></dd>
  </dl>

  <h3>Tags</h3>
  <dl>
    <dt class="tags-label"><label class="field_opt" for="tags">Tags</label></dt>
    <dd class="tags-field">
      <input class="long autocomplete-tag" id="tag_string" name="tag_string" size="60" type="text" 
               value="${data.get('tag_string') or ', '.join([tag['name'] for tag in data.get('tags', [])])}" />
    </dd>
    <dd class="tags-instructions instructions basic" i18n:msg="">Comma-separated terms that may link this dataset to similar ones. For more information on conventions, see <a href="http://wiki.okfn.org/ckan/doc/faq#TagConventions">this wiki page</a>.</dd>
    <dd class="tags-instructions field_error" py:if="errors.get('tag_string', '')">${errors.get('tag_string', '')}</dd>
  </dl>
</fieldset>

<fieldset id="extras">
  <dl>
    <dt><label class="field_opt" for="type_of_dataset">Type of Dataset</label></dt>
    <dd>
      <select class="short" id="type_of_dataset" name="type_of_dataset">
        <py:for each="name, desc in c.type_of_dataset">
          <option value="${name}" py:attrs="{'selected': 'selected' if data.get('type_of_dataset', '') == name else None}" >
            ${desc}
          </option>
        </py:for>
      </select>
    </dd>
    <dd class="instructions basic">The type of dataset.</dd>
    <dd class="instructions further">
    <p>Primary legal materials include documents of primary authority issued by governmental bodies, such as court opinions, 
    statutes, and regulations. They also include the supporting documents and other media issued and maintained by those bodies, 
    such as dockets, hearings, forms, oral arguments, and legislative histories. These materials can be found in every branch, 
    at every level, national, tribal, state and local, and should be available to anyone with the will and the heart to obtain them.</p>
    <p>Government operational records are typically administrative records (rather than legal records) that are useful for the 
    public to identify conflicts of interest and to perform oversight. Contracts/grants, personal financial disclosures, etc. 
    These documents have little utility aside from oversight.</p>
    <p>The last category "civic capital" are government records that have utility that have nothing to do with government per se. 
    Environmental and weather data, health and safety data, corporate compliance records. These records can save lives, 
    make markets more efficient, etc. These records are closest to Government as a Platform.</p>
    </dd>
    <dd class="field_error" py:if="errors.get('type_of_dataset', '')">${errors.get('type_of_dataset', '')}</dd>

    <dt><label class="field_opt" for="responsible_department">Responsible Department</label></dt>
    <dd><input id="responsible_department" name="responsible_department" type="text" value="${data.get('responsible_department', '')}"/></dd>
    <dd class="instructions basic">The owner of/responsible for the dataset.</dd>

    <dt><label class="field_req" for="published_by">Published by *</label></dt>
    <dd>
      <select id="published_by" name="published_by">
        <py:for each="published_name, published_desc in c.publishers">
          <option value="${published_name}" py:attrs="{'selected': 'selected' if data.get('published_by', '') == published_name else None}" >
            ${published_desc}
          </option>
        </py:for>
      </select>
    </dd>
    <dd class="instructions basic">The organisation (usually a public body) credited with or associated with the publication of this data.</dd>
    <dd class="instructions further">Often datasets are associated with both a government department and an outside agency, in which case this field should store the department and "Published via" should store the agency. When an organisation is not listed, please request it using the form found in your data.gov.uk user page under the "Publishers" tab. An asterisk (*) denotes an pre-existing value for this field, which is allowed, but the current user's permissions would not be able to change a package\s publisher to this value.</dd>

    <dt><label class="field_opt" for="release_date">Release Date</label></dt>
    <dd><input id="release_date" name="release_date" size="40" type="text" value="${data.get('release_date', '')}" /></dd>
    <dd class="instructions basic">The date of the official release of the initial version of the dataset</dd>
    <!-- <dd class="instructions further"></dd> -->
    <dd class="hints">Acceptable date formats: YYYY-MM-DD, YYYY-MM, YYYY</dd>
    <dd class="field_error" py:if="errors.get('release_date', '')">${errors.get('release_date', '')}</dd>

    <dt><label class="field_opt" for="modified_date">Modified Date</label></dt>
    <dd><input id="modified_date" name="modified_date" size="40" type="text" value="${data.get('modified_date', '')}"/></dd>
    <dd class="instructions basic">Most recent date on which the dataset was changed, updated or modified.</dd>
    <dd class="hints">Acceptable date formats: YYYY-MM-DD, YYYY-MM, YYYY</dd>
    <dd class="field_error" py:if="errors.get('modified_date', '')">${errors.get('modified_date', '')}</dd>

    <dt><label class="field_opt" for="update_frequency">Update frequency</label></dt>
    <dd>
      <select class="short" id="update_frequency" name="update_frequency">
        <py:for each="freq_name, freq_desc in c.update_frequency">
          <option value="${freq_name}" py:attrs="{'selected': 'selected' if data.get('update_frequency', '') == freq_name else None}" >
            ${freq_desc}
          </option>
        </py:for>
      </select>
      <label class="inline" for="update_frequency-other">Other: 
        <input class="medium-width" id="update_frequency-other" name="update_frequency-other" type="text" value="${data.get('update_frequency-other', '')}"/>
      </label>
    </dd>
    <dd class="instructions basic">The frequency with which dataset is published.</dd>
    <dd class="instructions further">For one-off data, use 'never'. For those once updated but now discontinued, use 'discontinued'.</dd>
    <dd class="field_error" py:if="errors.get('update_frequency', '')">${errors.get('update_frequency', '')}</dd>

    <dt><label class="field_opt" for="temporal_coverage">Temporal coverage</label></dt>
    <dd>
      <input class="medium-width" id="temporal_coverage_from" name="temporal_coverage_from" type="text" value="${data.get('temporal_coverage_from', '')}" /> - 
      <input class="medium-width" id="temporal_coverage_to" name="temporal_coverage_to" type="text" value="${data.get('temporal_coverage_to', '')}" />
    </dd>
    <dd class="instructions basic">The temporal coverage of this dataset.</dd>
    <dd class="instructions further">If available, please indicate the time as well as the date. Where data covers only a single day, the 'To' sub-element can be left blank.</dd>
    <dd class="hints">e.g. 2010-01-01 - 2012-01-01</dd>
    <dd class="hints">Acceptable date formats: YYYY-MM-DD, YYYY-MM, YYYY</dd>

    <dt><label class="field_opt" for="temporal_granularity">Temporal granularity</label></dt>
    <dd>
      <select class="short" id="temporal_granularity" name="temporal_granularity">
        <py:for each="temporal_name, temporal_desc in c.temporal_granularity">
          <option value="${temporal_name}" py:attrs="{'selected': 'selected' if data.get('temporal_granularity', '') == temporal_name else None}" >
            ${temporal_name}
          </option>
        </py:for>
      </select>
      <label class="inline" for="temporal_granularity-other">Other: 
        <input class="medium-width" id="temporal_granularity-other" name="temporal_granularity-other" type="text" value="${data.get('temporal_granularity-other', '')}"/>
      </label>
    </dd>
    <dd class="instructions basic">The lowest level of temporal detail granularity</dd>
    <dd class="instructions further">This should give the lowest level of temporal detail given in the dataset if it is aggregated, expressed as an interval of time. If the data is not aggregated over time, and so the dataset goes down to the instants that reported events occurred (such as the timings of high and low tides), use 'point'. If none of the choices is appropriate or the granularity varies, please specify in the 'other' element.</dd>

    <dt><label class="field_opt" for="geographical_coverage">Geographic coverage</label></dt>
    <dd><input id="geographical_coverage" name="geographical_coverage" size="40" type="text" value="${data.get('geographical_coverage', '')}" /></dd>
    <dd class="instructions basic">The geographical coverage of this dataset.</dd>
    <dd class="instructions further">Separate multiple entries with a comma.</dd>

    <dt><label class="field_opt" for="geographical_granularity">Geographical granularity</label></dt>
    <dd>
      <select class="short" id="geographical_granularity" name="geographical_granularity">
        <py:for each="geog_name, geog_desc in c.geographical_granularity">
          <option value="${geog_name}" py:attrs="{'selected': 'selected' if data.get('geographical_granularity', '') == geog_name else None}" >
            ${geog_desc}
          </option>
        </py:for>
      </select>
      <label class="inline" for="geographical_granularity-other">Other: 
        <input class="medium-width" id="geographical_granularity-other" 
        name="geographical_granularity-other" type="text" value="${data.get('geographical_granularity-other', '')}"/>
      </label>
    </dd>
    <dd class="instructions basic">The lowest level of geographic detail</dd>
    <dd class="field_error" py:if="errors.get('geographical_granularity', '')">${errors.get('geographical_granularity', '')}</dd>

    <dt><label class="field_req" for="eurovoc_theme">Eurovoc Theme</label></dt>
    <dd>
      <select id="eurovoc_theme" name="eurovoc_theme">
        <py:for each="name, desc in c.eurovoc_theme">
          <option value="${name}" py:attrs="{'selected': 'selected' if data.get('eurovoc_theme', '') == name else None}" >
            ${desc}
          </option>
        </py:for>
      </select>
    </dd>
    <dd class="instructions basic">Keyword concept from the Eurovoc thesaurus.</dd>

  </dl>

  <!-- <h3>Eurostat Datasets</h3> -->
  <!-- <dl> -->
  <!--   <dt><label class="field_opt" for="code">Code</label></dt> -->
  <!--   <dd><input id="code" name="code" size="40" type="text" value="${data.get('code', '')}" /></dd> -->
  <!--   <dd class="instructions basic">Existing Eurostat identifier.</dd> -->
  <!--   <dd class="hints">eg: rd_e_berdind</dd> -->

  <!--   <dt><label class="field_opt" for="type">Type</label></dt> -->
  <!--   <dd><input id="type" name="type" size="40" type="text" value="${data.get('type', '')}" /></dd> -->
  <!--   <dd class="hints">dataset or table</dd> -->

  <!--   <dt><label class="field_opt" for="theme1">Theme 1</label></dt> -->
  <!--   <dd><input id="theme1" name="theme1" size="40" type="text" value="${data.get('theme1', '')}" /></dd> -->
  <!--   <dd class="instructions basic">Eurostat publishes datasets in a hierarchical table of contents.  -->
  <!--     The theme field captures the titles under which the dataset is published</dd> -->
  <!--   <dd class="hints">Example: Science and technology, Research and development, etc</dd> -->

  <!--   <dt><label class="field_opt" for="theme2">Theme 2</label></dt> -->
  <!--   <dd><input id="theme2" name="theme2" size="40" type="text" value="${data.get('theme2', '')}" /></dd> -->
  <!--   <dd class="instructions basic">Eurostat publishes datasets in a hierarchical table of contents.  -->
  <!--     The theme field captures the titles under which the dataset is published</dd> -->
  <!--   <dd class="hints">Example: Science and technology, Research and development, etc</dd> -->

  <!--   <dt><label class="field_opt" for="theme3">Theme 3</label></dt> -->
  <!--   <dd><input id="theme3" name="theme3" size="40" type="text" value="${data.get('theme3', '')}" /></dd> -->
  <!--   <dd class="instructions basic">Eurostat publishes datasets in a hierarchical table of contents.  -->
  <!--     The theme field captures the titles under which the dataset is published</dd> -->
  <!--   <dd class="hints">Example: Science and technology, Research and development, etc</dd> -->

  <!--   <dt><label class="field_opt" for="license_link">License link</label></dt> -->
  <!--   <dd><input id="license_link" name="license_link" size="40" type="text" value="${data.get('license_link', '')}" /></dd> -->
  <!--   <dd class="instructions basic">Link to the page where the license conditions related to the dataset are described.</dd> -->
  <!--   <dd class="hints">Example: http://epp.eurostat.ec.europa.eu/portal/page/portal/about_eurostat/ corporate/copyright_licence_policy</dd> -->

  <!--   <dt><label class="field_opt" for="support">Support</label></dt> -->
  <!--   <dd><input id="support" name="support" size="40" type="text" value="${data.get('support', '')}" /></dd> -->
  <!--   <dd class="instructions basic">Link to the page where support for the dataset can be obtained.</dd> -->
  <!--   <dd class="hints">Example: http://epp.eurostat.ec.europa.eu/portal/page/portal/help/ user_support</dd> -->
  <!-- </dl> -->

  <h3>Extra Fields</h3>
  <dl>
    <py:for each="num, extra in enumerate(c.additional_extras)">
    <dt><label for="extras__${num}__value">${extra.get('key')}</label></dt>
    <dd>
      <input id="extras__${num}__key" name="extras__${num}__key" type="hidden" value="${extra.get('key')}" />
      <input id="extras__${num}__value" name="extras__${num}__value" type="text" value="${extra.get('value')}" />
      <input type="checkbox" name="extras__${num}__deleted" checked="${extra.get('deleted')}"> Delete </input>
    </dd>
    </py:for>
  </dl>

  <dl>
    <py:for each="num in range(len(c.additional_extras), len(c.additional_extras) + 4)">
    <dt><label for="extras__${num}__key">New key</label></dt>
    <dd>
      <input class="medium-width" id="extras__${num}__key" name="extras__${num}__key" type="text" />
      with value
      <input class="medium-width" id="extras__${num}__value" name="extras__${num}__value" type="text" />
    </dd>
    </py:for>
  </dl>
</fieldset>

<label for="log_message" class="edit-summary">Edit summary (briefly describe the changes you have made)</label>
<textarea id="log_message" name="log_message" class="edit-summary short wide">${data.get('log_message', '')}</textarea>

<div class="ckan-logged-in" style="display: none;">
  <p>Author: ${c.author}</p>
</div>
<div class="ckan-logged-out">
  <label>Author: ${c.author}</label>
  <p i18n:msg="" class="hints">
    Since you have not signed in this will just be your IP address.
    <a href="${h.url_for(controller='user', action='login', id=None)}" target="_blank">Click here to sign in</a> before saving (opens in new window).
  </p>
</div>

<div class="form-submit">
  <input id="save" class="pretty-button primary" name="save" type="submit" value="${_('Save Changes')}" />
  <py:if test="c.pkg">
    <input id="cancel" class="pretty-button href-action" name="cancel" type="reset" value="${_('Cancel')}" action="${h.url_for(controller='package', action='read', id=c.pkg.name)}" />
  </py:if>
  <p i18n:msg="" class="hints">
  <strong>Important:</strong> By submitting content, you agree to release your contributions under the <a href="http://opendatacommons.org/licenses/odbl/1.0/">Open Database License</a>. Please <strong>refrain</strong> from editing this page if you are <strong>not</strong> happy to do this.
  </p>
  <div class="clear"></div>
</div>

</form>

