<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  py:strip=""
  >
  <xi:include href="../_util.html" />

  <div id="dataset" class="dataset">
    <div id="dataset-overview">

      <div py:if="c.pkg_dict.get('state') == 'deleted'" class="dataset-deleted-message">
        ${_('This dataset has been marked as deleted.')}
      </div>

      <div py:if="c.pkg_dict.get('groups')" class="package-box publishers">
        <h3><i class="publisher"></i> ${_('Publisher')}</h3>
        <div class="inner">
          <a py:for="group in sorted(c.pkg_dict.groups, key=lambda g: g['title'] or g['name'])" href="${h.url_for(controller='group', action='read', id=group['name'])}">${group.get('title') or group.get('name')} &raquo;</a>
        </div>
      </div>

      <!-- Description -->
      <div class="package-box" py:if="c.pkg_dict.get('description', '').strip()">
        <h3><i class="note"></i> ${_('Description')}</h3>
        <div class="inner faded">
          ${h.format_description(c.pkg_dict['description'])}
        </div>
      </div>

      <!-- Resources -->
      <div id="dataset-resources" class="package-box resources">
        <h3>
          <i class="resource"></i> ${_('Resources')}
        <py:if test="h.check_access('package_update',{'id':c.pkg.id})"> &nbsp;
          ${h.subnav_link(c, _('(edit)'), controller='package', action='editresources', id=c.pkg.name)}
        </py:if></h3>
        <div class="inner">
          <ul class="resource-list unstyled">
            <py:for each="res in c.pkg_dict.get('resources', [])">
            <li>
              <a href="${res['url']}" class="button button-primary download">${_('Download')}</a>
              <a href="${h.url_for(controller='package', action='resource_read', id=c.pkg_dict['name'], resource_id=res['id'])}">${h.resource_display_name(res)} &raquo;</a>
              </li>
            </py:for>
          </ul>
          <py:if test="not len(c.pkg_dict.get('resources', []))">
            (none)
          </py:if>
        </div>
      </div>

    </div>

    <!-- Dataset Information Section -->
    <div class="package-box">
      <h3><i class="info"></i> ${_('Additional Information')}</h3>
      <div id="dataset-information" class="inner">
        <div class="quick-info">
          <dl py:if="c.pkg.url">
            <dt>${_('URL')}</dt>
            <dd property="foaf:homepage">${c.pkg_url_link}</dd>
          </dl>
          <dl py:if="c.pkg_dict.get('release_date')">
            <dt>${_('Release Date')}</dt>
            <dd>${c.pkg_dict['release_date']}</dd>
          </dl>
          <dl py:if="c.pkg_dict.get('modified_date')">
            <dt>${_('Modified Date')}</dt>
            <dd>${c.pkg_dict['modified_date']}</dd>
          </dl>
          <dl py:if="c.pkg_dict.get('status')">
            <dt>${_('Status')}</dt>
            <dd>${c.pkg_dict['status']}</dd>
          </dl>
          <p class="more-meta"><a href="#more-meta">${_('More Additional Information')}</a></p>
        </div>

        <div id="#more-meta" class="quick-info" style="display:none;">
          <dl py:if="c.pkg_dict.get('accrual_periodicity')">
            <dt>${_('Accrual Periodicity')}</dt>
            <dd>${c.pkg_dict['accrual_periodicity']}</dd>
          </dl>
          <dl py:if="c.pkg_dict.get('temporal_coverage_from')">
            <dt>${_('Temporal Coverage From')}</dt>
            <dd>${c.pkg_dict['temporal_coverage_from']}</dd>
          </dl>
          <dl py:if="c.pkg_dict.get('temporal_coverage_to')">
            <dt>${_('Temporal Coverage To')}</dt>
            <dd>${c.pkg_dict['temporal_coverage_to']}</dd>
          </dl>
          <dl py:if="c.pkg_dict.get('temporal_granularity')">
            <dt>${_('Temporal Granularity')}</dt>
            <dd>${c.pkg_dict['temporal_granularity']}</dd>
          </dl>
          <dl py:if="c.pkg_dict.get('geographical_coverage')">
            <dt>${_('Geographical Coverage')}</dt>
            <dd>${", ".join(c.pkg_dict['geographical_coverage'])}</dd>
          </dl>
          <dl py:if="c.pkg_dict.get('language')">
            <dt>${_('Language')}</dt>
            <dd>${", ".join(c.pkg_dict['language'])}</dd>
          </dl>
          <dl py:if="c.pkg_dict.get('contact_name')">
            <dt>${_('Contact Name')}</dt>
            <dd>${c.pkg_dict['contact_name']}</dd>
          </dl>
          <dl py:if="c.pkg_dict.get('contact_email')">
            <dt>${_('Contact E-mail')}</dt>
            <dd>${c.pkg_dict['contact_email']}</dd>
          </dl>
          <dl py:if="c.pkg_dict.get('contact_address')">
            <dt>${_('Contact Address')}</dt>
            <dd>${c.pkg_dict['contact_address']}</dd>
          </dl>
          <dl py:if="c.pkg_dict.get('contact_telephone')">
            <dt>${_('Contact Telephone')}</dt>
            <dd>${c.pkg_dict['contact_telephone']}</dd>
          </dl>
          <dl py:if="c.pkg_dict.get('contact_webpage')">
            <dt>${_('Contact Web Page')}</dt>
            <dd><a href="${c.pkg_dict['contact_webpage']}">${c.pkg_dict['contact_webpage']}</a></dd>
          </dl>
          <dl py:if="c.pkg.version">
            <dt>${_('Version')}</dt>
            <dd>${c.pkg.version}</dd>
          </dl>
          <dl py:if="c.pkg_dict.get('version_description')">
            <dt>${_('Version Description')}</dt>
            <dd>${c.pkg_dict['version_description']}</dd>
          </dl>
          <dl py:if="c.eu_country">
            <dt>${_('Country')}</dt>
            <dd>${h.code_to_country(c.eu_country)}</dd>
          </dl>
          <dl py:for="i, (key, value) in enumerate(c.pkg_extras)"
            rel="dc:relation" resource="_:extra${i}">
            <dt property="rdfs:label">${_(key)}</dt>
            <dd property="rdf:value">${value}</dd>
          </dl>
        </div>
      </div>
    </div>

  </div> <!-- /dataset -->

</html>
