<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  py:strip=""
  >
  <xi:include href="../_util.html" />

  <?python
    viz_resources = [r for r in c.pkg_dict.get('resources', [])
                     if r.get('resource_type') == 'Visualization']
    non_viz_resources = [r for r in c.pkg_dict.get('resources', [])
                         if not r in viz_resources]
  ?>

  <div id="dataset" class="dataset">
    <div id="dataset-overview">

      <div py:if="c.pkg_dict.get('state') == 'deleted'" class="dataset-deleted-message">
        ${_('This dataset has been marked as deleted.')}
      </div>

      <div py:if="c.pkg_dict.get('groups')" class="package-box publishers">
        <h3><i class="publisher"></i> ${_('Publisher')}</h3>
        <div class="inner">
          <a py:for="group in sorted(c.pkg_dict.groups, key=lambda g: g['title'] or g['name'])" href="${h.url_for(controller='group', action='read', id=group['name'])}">${group.get('title') or group.get('name')} &raquo;</a>
        </div>
      </div>

      <!-- Description -->
      <div class="package-box" py:if="c.pkg_dict.get('description', '').strip()">
        <h3><i class="note"></i> ${_('Description')}</h3>
        <div class="inner faded">
          ${h.format_description(c.pkg_dict['description'])}
        </div>
      </div>

      <!-- Visualisations -->
      <div py:if="viz_resources" id="dataset-visualisations" class="table-box package-box resources">
        <h3>
          ${_('Visualisations')}
          <py:if test="h.check_access('package_update',{'id':c.pkg.id})"> &nbsp;
          ${h.subnav_link(c, _('(edit)'), controller='package', action='editresources', id=c.pkg.name)}
          </py:if>
        </h3>
        <div class="inner">
          <ul class="resource-list unstyled">
            <py:for each="res in viz_resources">
            <li>
              <a href="${res['url']}" class="action">
                <i class="icon graph"></i>
                ${_('Visualise')}
              </a>
              <a href="${h.url_for(controller='package', action='resource_read', id=c.pkg_dict['name'], resource_id=res['id'])}" class="name">${h.resource_display_name(res)}</a>
            </li>
            </py:for>
          </ul>
        </div>
      </div>

      <!-- Resources -->
      <div id="dataset-resources" class="table-box package-box resources">
        <h3>
          ${_('Resources')}
          <py:if test="h.check_access('package_update',{'id':c.pkg.id})"> &nbsp;
          ${h.subnav_link(c, _('(edit)'), controller='package', action='editresources', id=c.pkg.name)}
          </py:if>
        </h3>
        <div class="inner">
          <ul class="resource-list unstyled">
            <py:for each="res in non_viz_resources">
            <li>
              <a href="${res['url']}" class="button-box">
                <py:choose>
                  <py:when test="res['format'] == 'html'">
                    <i class="icon visit"></i>
                    ${_('Visit page')}
                  </py:when>
                  <py:otherwise>
                    <i class="icon download"></i>
                    ${_('Download')}
                  </py:otherwise>
                </py:choose>
              </a>
              <a href="${h.url_for(controller='package', action='resource_read', id=c.pkg_dict['name'], resource_id=res['id'])}" class="name">${h.resource_display_name(res)}</a>
              <span test="res['format']" class="resource-tag" title="${res['format']}">${res['format']}</span>
            </li>
            </py:for>
          </ul>
          <py:if test="not len(non_viz_resources)">
            (none)
          </py:if>
        </div>
      </div>

    </div>

    <!-- Dataset Information Section -->
    <div class="package-box">
      <div id="dataset-information" class="inner">
        <div class="quick-info">
          <dl py:if="c.pkg.url">
            <dt>${_('URI')}</dt>
            <dd property="foaf:homepage">${c.pkg_url_link}</dd>
          </dl>

          <dl py:if="c.pkg_dict.get('alternative_title')">
            <dt>${_('Alternative Title')}</dt>
            <dd>${c.pkg_dict['alternative_title']}</dd>
          </dl>

          <dl py:if="c.pkg_dict.get('status')">
            <dt>${_('Status')}</dt>
            <dd>${c.pkg_dict['status']}</dd>
          </dl>

          <dl py:if="c.pkg_dict.get('identifier')">
            <dt>${_('Identifier')}</dt>
            <dd>${c.pkg_dict['identifier']}</dd>
          </dl>

          <dl py:if="c.pkg_dict.get('interoperability_level')">
            <dt>${_('Interoperability Level')}</dt>
            <dd>${c.pkg_dict['interoperability_level']}</dd>
          </dl>

          <dl py:if="c.pkg_dict.get('type_of_dataset')">
            <dt>${_('Type of Dataset')}</dt>
            <dd>${", ".join(c.pkg_dict['type_of_dataset'])}</dd>
          </dl>

          <dl py:if="c.pkg_dict.get('release_date')">
            <dt>${_('Release Date')}</dt>
            <dd>${c.pkg_dict['release_date']}</dd>
          </dl>

          <dl py:if="c.pkg_dict.get('modified_date')">
            <dt>${_('Modified Date')}</dt>
            <dd>${c.pkg_dict['modified_date']}</dd>
          </dl>

          <dl py:if="c.pkg_dict.get('metadata_created')">
            <dt>${_('Added to open-data.europa.eu')}</dt>
            <dd>${h.render_datetime(c.pkg_dict['metadata_created'], '%Y-%m-%d')}</dd>
          </dl>

          <dl py:if="c.pkg_dict.get('metadata_modified')">
            <dt>${_('Updated on open-data.europa.eu')}</dt>
            <dd>${h.render_datetime(c.pkg_dict['metadata_modified'], '%Y-%m-%d')}</dd>
          </dl>

          <dl py:if="c.pkg_dict.get('accrual_periodicity')">
            <dt>${_('Accrual Periodicity')}</dt>
            <dd>${c.pkg_dict['accrual_periodicity']}</dd>
          </dl>

          <dl py:if="c.pkg_dict.get('temporal_coverage_from')">
            <dt>${_('Temporal Coverage From')}</dt>
            <dd>${c.pkg_dict['temporal_coverage_from']}</dd>
          </dl>

          <dl py:if="c.pkg_dict.get('temporal_coverage_to')">
            <dt>${_('Temporal Coverage To')}</dt>
            <dd>${c.pkg_dict['temporal_coverage_to']}</dd>
          </dl>

          <dl py:if="c.pkg_dict.get('temporal_granularity')">
            <dt>${_('Temporal Granularity')}</dt>
            <dd>${c.pkg_dict['temporal_granularity']}</dd>
          </dl>

          <dl py:if="c.pkg_dict.get('geographical_coverage')">
            <dt>${_('Geographical Coverage')}</dt>
            <dd>${", ".join(c.pkg_dict['geographical_coverage'])}</dd>
          </dl>

          <dl py:if="c.pkg_dict.get('language')">
            <dt>${_('Language')}</dt>
            <dd>${", ".join(c.pkg_dict['language'])}</dd>
          </dl>

          <dl py:if="c.pkg.version">
            <dt>${_('Version')}</dt>
            <dd>${c.pkg.version}</dd>
          </dl>

          <dl py:if="c.pkg_dict.get('version_description')">
            <dt>${_('Version Description')}</dt>
            <dd>${c.pkg_dict['version_description']}</dd>
          </dl>

          <dl py:if="c.eu_country">
            <dt>${_('Country')}</dt>
            <dd>${h.code_to_country(c.eu_country)}</dd>
          </dl>

          <dl py:for="i, (key, value) in enumerate(c.pkg_extras)"
            rel="dc:relation" resource="_:extra${i}">
            <dt property="rdfs:label">${_(key)}</dt>
            <dd property="rdf:value">${value}</dd>
          </dl>
        </div>
      </div>
    </div>

    <py:if test="c.pkg_dict.get('contact_name') or c.pkg_dict.get('contact_email') or c.pkg_dict.get('contact_address') or c.pkg_dict.get('contact_telephone') or c.pkg_dict.get('contact_webpage')">
      <div id="dataset-contact" class="package-box">
        <h2>${_('Contact')}</h2>
        <h3 py:if="c.pkg_dict.get('contact_name')">${c.pkg_dict['contact_name']}</h3>
        <p py:if="c.pkg_dict.get('contact_address')">
          ${c.pkg_dict['contact_address']}
        </p>
        <p py:if="c.pkg_dict.get('contact_telephone')">
          <span>${_('Tel:')}</span>
          ${c.pkg_dict['contact_telephone']}
        </p>
        <p py:if="c.pkg_dict.get('contact_email')">
          <a href="mailto:${c.pkg_dict['contact_email']}">${c.pkg_dict['contact_email']}</a>
        </p>
        <p py:if="c.pkg_dict.get('contact_webpage')">
          <a href="${c.pkg_dict['contact_webpage']}">${c.pkg_dict['contact_webpage']}</a>
        </p>
      </div>
    </py:if>

  </div> <!-- /dataset -->

</html>
