<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:foaf="http://xmlns.com/foaf/0.1/"
  xmlns:owl="http://www.w3.org/2002/07/owl#"
  xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
  xmlns:dc="http://purl.org/dc/terms/"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:dcat="http://www.w3.org/ns/dcat#"
  typeof="dcat:Dataset"
  about=""
  py:strip="">

  <py:def function="optional_head">
    <script type="text/javascript">
      var preload_resource = ${h.literal(c.resource_json)};
    </script>
  </py:def>

  <py:def function="page_title">
    ${h.dataset_display_name(c.package)} /
    ${h.resource_display_name(c.resource)} - ${_('Dataset - Resource')}
  </py:def>

  <py:def function="pre_page_heading">${h.dataset_display_name(c.package)}</py:def>

  <py:def function="breadcrumbs_extra">
    <span class="seperator">&gt;</span>
    <a href="${h.url_for(controller='group', action='index')}">${_('Publisher')}</a>
    <span class="seperator">&gt;</span>
    <span py:for="group in sorted(c.pkg_dict.groups, key=lambda g: g['title'] or g['name'])">
      <a href="${h.url_for(controller='group', action='read', id=group['name'])}">${h.truncate(group.get('title') or group.get('name'), length=35)}</a>
      <span class="seperator">&gt;</span>
    </span>
    <a href="${h.url_for(controller='package', action='read', id=c.pkg_dict.name)}">${h.truncate(c.pkg_dict.title or c.pkg_dict.name, length=35)}</a>
    <span class="seperator">&gt;</span>
    <a href="">${h.truncate(h.resource_display_name(c.resource), length=35)}</a>
  </py:def>

  <py:match path="primarysidebar">

    <li py:if="c.pkg_dict.get('license_id')" id="dataset-license" class="sidebar-section">
      <h3>Licence:</h3>
        <py:choose test="">
          <span py:when="c.pkg.license and c.pkg.license.url"><a
              href="${c.pkg.license.url}" rel="dc:rights">${c.pkg.license.title.split('::')[-1]}</a></span>
          <span py:when="c.pkg.license" property="dc:rights">${c.pkg.license.title}</span>
          <span py:when="c.pkg.license_id" property="dc:rights">${c.pkg.license_id}</span>
          <span py:when="not(c.pkg.license)">${_('License unknown')}</span>
        </py:choose>
    </li>

  </py:match>
  

  <div py:match="content">

    <div class="package-box">
      <h3 class="alt">
        <i class="resource"></i>
        ${h.resource_display_name(c.resource)}
      </h3>
      <div py:if="c.resource.get('url')" class="inner faded resource-actions">
        <a href="${c.resource.get('url')}" class="button-box resource-url-analytics resource-type-${c.resource.get('resource_type')}">
          <py:choose>
            <py:when test="c.resource.get('format') == 'html'">
              <i class="icon visit"></i>
              ${_('Visit page')}
            </py:when>
            <py:otherwise>
              <i class="icon download"></i>
              ${_('Download')}
            </py:otherwise>
          </py:choose>
        </a>
        <!--<a py:if="c.resource.get('url')" class="button button-primary resource-url-analytics resource-type-${c.resource.get('resource_type')}" href="${c.resource.get('url')}">${_('Download')}</a>-->
      </div>
    </div>

    <div class="package-box" property="rdfs:label">
      <h3><i class="note"></i> ${_('Description')}</h3>
      <div class="inner faded">
        ${c.resource.get('description') or _('(No description)')}
      </div>
    </div>

    <div class="package-box">
      <h3><i class="format"></i> ${_('Format')}</h3>
      <div class="inner faded">
        ${c.resource['mimetype_inner'] or c.resource['format'] or 'Unknown'}
      </div>
    </div>

    <div py:if="not c.resource.get('description') and c.package.get('notes')" id="dataset-description">
      <div>
        <strong>
          ${_('From')}: <a href="${h.url_for(controller='package', action='read', id=c.package['name'])}">${ c.package.get('title') or c.package.get('name') }</a>:
        </strong>
      </div>
      <div>${h.markdown_extract(c.package.get('notes'), 300)}</div>
    </div>

    <div class="package-box resource-information">
      <h3>
        <i class="info"></i>
        ${_('Additional Information')}
      </h3>
      <div class="inner">
        <div id="less-meta" class="quick-info">
          <dl>
            <dt property="rdfs:label">${_('URL')}</dt>
            <dd property="rdf:value"><a href="${c.resource['url']}">${c.resource['url']}</a></dd>
          </dl>
          <dl py:if="c.resource.get('created')">
            <dt>${_('Release Date')}</dt>
            <dd>${h.render_datetime(c.resource['created'], '%Y-%m-%d')}</dd>
          </dl>
          <dl py:choose="c.resource.get('last_modified') or c.resource.get('revision_timestamp')">
            <dt>${_('Modified Date')}</dt>
            <dd py:when="c.resource.get('last_modified')">${h.render_datetime(c.resource['last_modified'], '%Y-%m-%d')}</dd>
            <dd py:when="c.resource.get('revision_timestamp')">${h.render_datetime(c.resource['revision_timestamp'], '%Y-%m-%d')}</dd>
          </dl>
          <dl py:if="c.resource.get('resource_type')">
            <dt>${_('Resource Type')}</dt>
            <dd>${c.resource['resource_type']}</dd>
          </dl>
        </div>
      </div>
    </div>

    <div class="package-box"><div class="inner">
      <a href="${h.url_for(controller='package', action='read', id=c.package['name'])}">
        <i class="icon-back"></i> ${_('Back to dataset')}
      </a>
    </div></div>

    <span class="insert-comment-thread"></span>
  </div>

  <xi:include href="layout.html" />
</html>
