<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <xi:include href="../odp_facets.html" />

  <py:def function="page_title">Search - ${g.site_title}</py:def>
  <py:def function="page_heading">
    <a href="${h.url(controller='feed', action='custom')}?${c.search_url_params}" class="pull-right"><i class="rss"></i></a>
    Search - ${g.site_title}
  </py:def>
  <py:def function="breadcrumbs_extra">
    <span class="seperator">&gt;</span>
    <a href="${h.url_for(controller='package', action='search')}">Search</a>
  </py:def>

  <py:match path="primarysidebar">
    ${h.snippet('snippets/suggest_box.html')}
    ${facet_div('tags', 'Keywords')}
    ${facet_div('res_format', 'Resource Formats')}
    ${facet_div('groups', 'Publishers')}
    ${facet_div('vocab_language', 'Language')}
    ${facet_div('vocab_geographical_coverage', 'Geographical Coverage')}
  </py:match>

  <py:def function="search_value"><py:if test="c.q">${c.q}</py:if></py:def>
  <div py:match="//div[@id='page-search']" class="page-search">
    <form>
      <input type="text" name="q" value="${search_value()}" placeholder="${_('Search datasets...')}" />
      <input type="submit" value="" />
      <span py:if="c.fields">
        <py:for each="(k, v) in c.fields"> 
          <input type="hidden" name="${k}" value="${v}" />  
        </py:for>
      </span>
    </form>
  </div>

  <div py:match="content">
    ${field_list()}   
    
    <py:if test="c.query_error">
    <p i18n:msg="item_count"><strong>There was an error while searching.</strong>
      Please try again.</p>
    </py:if>
    <py:if test="request.params">
    <h4 i18n:msg="item_count"><strong>${c.page.item_count}</strong> datasets found</h4>
    </py:if>
    ${package_list_from_dict(c.page.items)}
    ${c.page.pager(q=c.q)}
  </div>

  <py:def function="optional_feed">
  <link rel="alternate" type="application/atom+xml" title="${g.site_title} - Datasets found with custom search: '${c.search_url_params}'"
    href="${h.url(controller='feed', action='custom')}?${c.search_url_params}" />
  <link rel="alternate" type="application/atom+xml" title="${g.site_title} - Recent Revision History"
    href="${h.url_for(controller='revision', action='list', format='atom', days=1)}" />
  </py:def>

  <xi:include href="layout.html" />
</html>
