<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >

<div class="content-custom">
  <div class="region region-tabdesc">
    <form id="ckan-form" action="${h.url_for(controller='package', action='search')}" method="GET">
      <div class="form-item form-type-textfield form-item-query">
        <label for="edit-query">
          <span class="form-required" title="This field is required.">*</span>
        </label>
        <input type="text" id="edit-query" name="q" value="" size="60" placeholder="${_('Find datasets...')}" class="form-text required" />
      </div>
      <input type="submit" id="dataset-search" name="op" value="" class="form-submit" />
      <p>${g.site_title} contains 
        <a href="${h.url_for(controller='package', action='search')}">${c.package_count} datasets</a>
        that you can browse, learn about and download.</p>
    </form>
  </div>
</div>
